@charset "utf-8";
table {
	margin-top:15px;
	border-collapse:collapse;
	border:1px solid #aaa;
	}
table th {
	padding:5px 15px 5px 6px;
	background-color:#f5e8cb;
	border:1px solid #aaa;
	text-align:center;
	color:#333333;
	}
table td {
	padding:6px 15px 6px 6px;
	border:1px solid #aaa;
	text-align:center;
	}
table tr.odd{
	background-color:#fff8e7;
	}
table tr.err{
background-color:red;
}